<h3>login</h3>
<!-- <div class="container">
  <div class="row">
    <div class="form_bg">
      <form (ngSubmit)="login()" #loginForm>
        <h2 class="text-center">Login Page</h2>
        <br />
        <div class="form-group">
          <input type="email" name="email" class="form-control" [(ngModel)]="user.email" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" [(ngModel)]="user.password" placeholder="Password">
        </div>
        <br />
        <div class="align-center">
          <button type="submit" class="btn btn-default" id="login">Login</button>
        </div>
      </form>
    </div>
  </div>
</div> -->