<footer class="ct-footer text-center-sm text-center-xs">
  <div class="container">
      <div class="row ct-u-paddingBottom40">
          <div class="col-md-4 col-sm-6">
              <div class="ct-footer-header">
                  Services
              </div>
              <ul class="ct-footer-list list-unstyled">
                  <li>
                      <a href="/services/design.stml">Design</a>
                  </li>
                  <li>
                      <a href="/services/marketing.stml">Marketing</a>
                  </li>
                  <li>
                      <a href="/services/sales.stml">Sales</a>
                  </li>
                  <li>
                      <a href="/services/programming.stml">Programming</a>
                  </li>
                  <li>
                      <a href="/services/support.stml">Support</a>
                  </li>
                  <li>
                      <a href="/services/training.stml">Training</a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="ct-footer-header">
                  Learn More
              </div>
              <ul class="ct-footer-list list-unstyled">
                  <li>
                      <a href="/about-us/">Company</a>
                  </li>
                  <li>
                      <a href="/clients/">Clients</a>
                  </li>
                  <li>
                      <a href="/about-us/news/">News</a>
                  </li>
              </ul>
              <div class="ct-footer-header">
                  Join Us
              </div>
              <ul class="ct-socials list-inline list-unstyled">
                  <li class="ct-socials--facebook">
                      <a href="//www.facebook.com/webcorpco"><img alt="Facebook" src="https://www.solodev.com/assets/footer/facebook.png"></a>
                  </li>
                  <li class="ct-socials--linkedin">
                      <a href="//www.linkedin.com/"><img alt="Linkedin" src="https://www.solodev.com/assets/footer/linkedin.png"></a>
                  </li>
                  <li class="ct-socials--twitter">
                      <a href="//twitter.com/webcorpco"><img alt="Twitter" src="https://www.solodev.com/assets/footer/twitter.png"></a>
                  </li>
              </ul>
          </div>
          <div class="clearfix visible-sm"></div>
          <div class="col-md-4">
              <div class="row">
                  <div class="col-sm-6 col-md-12">
                      <div class="ct-footer-header">
                          Get in Touch
                      </div>
                      <div class="address">
                          <strong>Headquarters</strong><span>123 Easy Street</span><span>Orlando, FL 32801</span>
                      </div>
                      <div class="ct-footer-header ct-u-paddingBottom5"></div>                            </div>
              </div>
          </div>
      </div>
  </div>
  <div class="ct-post_footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-lg-2 text-center-md text-center-sm text-center-xs hidden-md">
                  <a href="/"><img alt="Logo" src="https://www.solodev.com/assets/footer/logo.png"></a>
              </div>
              <div class="col-sm-6 col-md-4 text-center ct-u-paddingTop10">
                  <p>
                      © 2016 WebCorpCo. All Rights Reserved.
                  </p>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-4 text-center ct-u-paddingTop10">
                  <ul class="list-unstyled list-inline">
                      <li>
                          <a href="/sitemap.stml">Site Map</a>
                      </li>
                      <li>
                          <a href="/privacy-policy.stml">Privacy Policy</a>
                      </li>
                      <li>
                          <a href="/contact-us.stml">Contact Us</a>
                      </li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-2 text-right text-center-md text-center-sm text-center-xs ct-u-paddingTop10">
                  <p>
                      Powered by <a href="//www.solodev.com" target="_blank">Solodev CMS</a>
                  </p>
              </div>
          </div>
      </div>
  </div>
</footer>